<%= form_for(@order) do |f| %>
  <% if @order.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@order.errors.count, "error") %> prohibited this order from being saved:</h2>

      <ul>
      <% @order.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :product_id %><br>
    <%= f.collection_select :product_id, Product.all, :id, :name_with_quantity, :prompt => true %>
  </div>
  <div class="field">
    <%= f.label :quantity %><br>
    <%= f.number_field :quantity %>
  </div>
  <div class="field">
    <label for="price"> Price </label><br>
    <%= f.text_field :price %>


  </div>
  <div class="field">
    <P>Total</P>
    <%= f.text_field :total %>
  </div>
  <div class="field">
    <%= f.label :date %><br>
    <%= f.date_select :date, :order => [:month, :day, :year] %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
<%= javascript_include_tag "orders" %>