<%if @report.start_date.blank? || @report.end_date.blank? || @report.start_date > @report.end_date%>
    <div id = "Notice"><h1>Go back and check the dates.</h1></div>
<%end%>
<br>
<h2>Date Search</h2>
<Br>
<% @report.orders.each do |b| %>
    <p><%="Product ID: #{b.product_id}"%>
      <%="Sale Date: #{b.sale_date}"%>
      <%="Product Qty: #{b.quantity}"%></p>
<%end%>


<%= link_to 'Back', reports_path %>