/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */
*{
    margin: 0 auto;
}
h1 {
    text-align: center;
    font-weight: bold;
    padding: 15px 15px 15px 10px;
    font-size: 24px;

    margin-bottom: 4px;
    border-style:groove;
    border-width:5px;
    border-color:purple;
    background-color: #cc9dae;
    color: #7e11a9;
}
h2 {
    text-align: center;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 20px;
    margin: -7px;
    margin-bottom: 2px;
    color: #7e11a9;
    text-transform: uppercase;
}

a:hover {
    color: #f685ce;
    font-weight:bold;
}

body{
    text-align: center;
}

table,th, td
{
    border: 1px dotted black;
    border-collapse:collapse;
}

