<h2>Average Search</h2>
<Br>
Objective: showing the average number of each
item sold per week so that I can predict future sales.

<% @report.orders.each do |b| %>
    <p><%="date: #{b.date}"%>
<%end%>

<%= link_to 'Back', reports_path %>