<br>
<h2>Period Reports between dates</h2>
<Br>
Objective: how many items were sold in a given time period
<br>
Review the total gross revenue for any time period
<% @report.orders.each do |b| %>
    <p><%="Product ID: #{b.name}"%>
      <%="QTY: #{b.quantity}"%></p>

    <%=number_to_currency(@reports.orders.sum(:price) * @reports.orders.sum(:product)) %>
<%end%>

<%= link_to 'Back', reports_path %>