<h2>Product Avg Search</h2>

<p>Please select a Product to show the average number of that item sold per week</p>
<BR>
Objective: showing the average number of each item sold per week so that I can predict future sales.

<%= form_for (@report) do |f|%>

    <div class="field">
      <%=f.label :product_id%><br />
      <%= f.collection_select :product_id, Product.all, :id, :name, :prompt => true %>
    </div>

    <div class="actions">
      <%=f.submit "Search"%>
    </div>
<%end%>