
<br>
<h2>Quantity Search</h2>
<Br>
<p>Objective: Find products that is less then or equal to the given number</p>
<br>
Determine which items have a stock
level below a given amount
<%= form_for (@report) do |f|%>

    <div class="field">
      <%=f.label :quantity%><br />
      <%= f.number_field :quantity %>
    </div>

    <div class="actions">
      <%=f.submit "Search"%>
    </div>
<%end%>


<%= link_to 'Back', reports_path %>
