<Br><h2>Period Search</h2>
<Br>
Objective: To determine how many items were
sold in a given time period
<%= form_for Report.new do |f|%>

    <div class="field">
      <%=f.label :start_date%><br />
      <%=f.date_select :start_date, :order => [:month, :day, :year]%>
    </div>

    <div class = "field">
      <%f.label :end_date%><br />
      <%=f.date_select :end_date, :order => [:month, :day, :year]%>
    </div>

    <div class="actions">
      <%=f.submit "Search"%>
    </div>
<%end%>

<%= link_to 'Back', reports_path %>