
<%if @report.quantity !=nil%>
    <%= render :partial => "products/products"%>

    <%if @report.product_id!=nil%>
        <%= render :partial => "reports/avgsearch"%>

    <%else%>
        <%= render :partial => "orders/period"%>
    <%end%>
<%end%>

<%= link_to 'Edit', edit_report_path(@reports) %> |
<%= link_to 'Back', reports_path %>