<!DOCTYPE html>
<html>
<head>
  <title>IndvProjects</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<h1>Beauty Inventory</h1>
<%= link_to "Products", products_path %>
  <%= link_to "Order", orders_path %>
  <%= link_to "Reports", reports_path %>

<hr>
<%= yield %>
<hr>

Copyright 2014-2015 by Christie Nguyen. All Rights Reserved.
</body>

</html>
